<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

    <%- include('./partials/header') %>
        <main class="">
            <div class="col-12 col-md-8 mx-auto">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <nav class="breadcrumb mb-0">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Géneros</li>
                            </ol>
                        </nav>
                        
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Ranking</th>
                                    <th scope="col">Active</th>
                                    <th scope="col">Peliculas</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <% genres.forEach(genre=> { %>
                                    <tr>
                                        <th scope="row">
                                            <%= genre.id %>
                                        </th>
                                        <td>
                                            <%= genre.name %>
                                        </td>
                                        <td>
                                            <%= genre.ranking %>
                                        </td>
                                        <td>
                                            <div class="form-check form-switch">
                                                <input type="checkbox" class="form-check-input" <%=genre.active
                                                    && 'checked' %>>
                                            </div>
                                        </td>
                                        <td>
                                            <% if (genre.movies.length) { %>
                                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header">
                                                            <button class="accordion-button collapsed" type="button"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#flush-collapse<%= genre.id %>"
                                                                aria-expanded="false"
                                                                aria-controls="flush-collapse<%= genre.id %>">

                                                                <span>
                                                                    <%= genre.movies.length %> Peliculas
                                                                </span>


                                                            </button>
                                                        </h2>
                                                        <div id="flush-collapse<%= genre.id %>"
                                                            class="accordion-collapse collapse"
                                                            data-bs-parent="#accordionFlushExample">
                                                            <div class="accordion-body">
                                                                <ul>
                                                                    <% genre.movies.forEach(movie=> { %>
                                                                        <li><a href="/movies/detail/<%= movie.id %>">
                                                                                <%= movie.title %>
                                                                            </a></li>
                                                                        <% }) %>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% } %>

                                        </td>
                                        <td>
                                            <div class="d-flex gap-2">
                                                <a href="genres/detail/<%= genre.id %>" class="btn btn-outline-dark"><i
                                                        class="fa-regular fa-eye"></i></a>
                                                <a href="genres/edit/<%= genre.id %>" class="btn btn-outline-dark"><i
                                                        class="fa-solid fa-pen"></i></a>
                                                <a href="genres/delete/<%= genre.id %>" class="btn btn-outline-dark"><i
                                                        class="fa-solid fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </main>