<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

    <%- include('./partials/header') %>

        <body>
            <main class="row d-flex justify-content-center align-items-center p-3">
                <div class="col-12 col-md-10">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <nav class="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/movies">Peliculas</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Pelicula: <%= title %>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <img class="img-fluid" src="/img/<%= image %>" alt="">
                                  </div>
                                <div class="col-12 col-md-8">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><h3><b>
                                                <%= title.toUpperCase() %>
                                            </b></h3></li>
                                        <li class="list-group-item"><b>Duración: </b>
                                            <%= length %> min
                                        </li>
                                        <li class="list-group-item"><b>Fecha de estreno: </b>
                                            <%= moment(release_date).format('DD/MM/YYYY') %>
                                        </li>
                                        <li class="list-group-item"><b>Premios: </b>
                                            <%= awards %>
                                        </li>
                                        <li class="list-group-item"><b>Rating: </b>
                                            <%= rating %>
                                        </li>
                                    </ul>
                                    <h4 class="form-check mt-3">Actores</h4>
                                    <hr>
                                    <ul class="list-group list-group-flush">
                                        <% actors.forEach(actor => { %>
                                            <li class="list-group-item"><%= actor.first_name %> <b>
                                                <%= actor.last_name %></b>
                                            </li>
                                        <% }) %>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </main>
        </body>